# Ambientes Virtuais (Crucial para o seu caso)
.venv/
venv/
env/

# Configurações do PyCharm / JetBrains
.idea/

# Arquivos compilados e de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de sistema (Windows/macOS)
Thumbs.db
.DS_Store